@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500&family=Poppins:wght@400;500;600;700&display=swap");

/* Alterar fonte Bodoni para Gavelin, quando tivermos o arquivo */

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-logo: "Bodoni Moda", serif;

  --color-kaffee-brown: #6d3914;
  --color-kaffee-caramel: #ab7843;
  --color-kaffee-earth: #85593e;
  --color-kaffee-cream: #f4eade;
}